<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlitBit.Copy" version="2.6.1.26735" targetFramework="net40" />
  <package id="FlitBit.Core" version="2.4.9.46943" targetFramework="net40" />
  <package id="FlitBit.Dto" version="2.1.2.26875" targetFramework="net40" />
  <package id="FlitBit.Emit" version="2.6.1.26575" targetFramework="net40" />
  <package id="FlitBit.IoC" version="2.5.0.23336" targetFramework="net40" />
  <package id="FlitBit.Validation" version="0.7.2.55079" targetFramework="net40" />
  <package id="FlitBit.Wireup" version="2.5.0.25837" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>